h1 {
color: red;
font-size: 24 pt;
text-decoration: underline;
font-family: tahoma, helvetica, sans-serif
}
em{
color: green;
font-style: normal;
background-color: lightgrey;
<<<<<<< HEAD
font-weight: bold;}
=======
font-weight: bold;
}
>>>>>>> aaca7bfdcae834ac6a855d2560d1aa08fc96ea02
ul {list-style-stype:square;}

